<div class="dashboard-widget">
    <nav class="dashboard-menu">
        <ul>
            <li [class.active]="activePage === 'dashboard'" >
                <a href="javascript:void(0)" (click)="goToDashboard()">
                    <i class="fas fa-columns"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li [class.active]="activePage === 'favourites'" >
                <a href="javascript:void(0)" (click)="goToFavourites()">
                    <i class="fas fa-bookmark"></i>
                    <span>Favourites</span>
                </a>
            </li>
            
            
            <li>
                <a href="javascript:void(0)" (click)="goToChat()">
                    <i class="fas fa-comments"></i>
                    <span>Message</span>
                    <small class="unread-msg">23</small>
                </a>
            </li>
            <li [class.active]="activePage === 'profile'">
                <a href="javascript:void(0)" (click)="goToProfile()">
                    <i class="fas fa-user-cog"></i>
                    <span>Profile Settings</span>
                </a>
            </li>
            
            <li>
                <a href="change-password.html">
                    <i class="fas fa-lock"></i>
                    <span>Change Password</span>
                </a>
            </li>
            <li>
                <a href="index-2.html">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </nav>
</div>